<style>
	.oppertunities {
    margin: auto;
    width: 45%;
    margin-bottom: 30px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.34);
    padding-bottom: 30px;
}
.oppertunities ul li {
    font-size: 17px;
    font-family: "Roboto",sans-serif;
    list-style-type: square;
    padding-top: 7px;
    padding-bottom: 7px;
}

</style>
<img src="images/bnr3.jpg" alt="" width="100%">
<div class="container">
<div class="row">
	<div class="col-lg-12 heading">
		
        <h3 style="text-align: center;color: #D96741;font-size: 60px;">CSR Partnership</h3>
			<p style="text-align:center">BREADS offers a range of subjects that can interest Corporate Social Responsibility
			<br> circles, promising a sense of satisfaction and worthy of investment. BREADS will vouch<br> for credibility, transparency, professionalism and delivery.</p>
			<br>
			<h5 style="text-align: center;font-size: 20px;font-family: sans-serif;color: #d96741;">select areas for partnership</h5>
		
	</div>
	<div class="row">
		<div class="col-lg-12">
			<div class="col-lg-6">
				<div class="row">
					<input type="checkbox" value="">&nbsp;&nbsp;Community Project
				</div>
				<br>
				<div class="row">
					<input type="checkbox" value="">&nbsp;&nbsp;Skill Training Project
				</div>
				<br>
				<div class="row">
					<input type="checkbox" value="">&nbsp;&nbsp;Education
				</div>
				<br>
				<div class="row">
					<input type="checkbox" value="">&nbsp;&nbsp;Health
				</div>
				<br>
				<div class="row">
					<input type="checkbox" value="">&nbsp;&nbsp;Tribal Development
				</div>
				<br>
				<div class="row">
					<input type="checkbox" value="">&nbsp;&nbsp;Women Empowerment
				</div>

			</div>
			<div class="col-lg-4">
				<div class="row">
					<input type="text"  class="form-control" placeholder="Name *">
				</div>
				<br>
				<div class="row">
					<input type="text"  class="form-control" placeholder="Organisation *">
				</div>
				<br>
				<div class="row">
					<input type="text"  class="form-control" placeholder="Designation ">
				</div>
				<br>
				<div class="row">
					<input type="text"  class="form-control" placeholder="Email Id *">
				</div>
				<br>
				<div class="row">
					<input type="text"  class="form-control" placeholder="Phone / Mobile No *">
				</div>
				
			</div>
	</div>

			<div class="col-lg-12">
				<div class="col-lg-6">
				<div class="row">
					<textarea placeholder="a brief description about your area of interest" rows="8" cols="39" class="adin" ></textarea>
				</div>
				</div>
				<div class="col-lg-6">
					<div class="row">
					<textarea placeholder="a brief description about your area of interest" rows="8" cols="39" class="adin" style="margin-top: 3px"></textarea>
				</div>
				<button class="btn btn-lg btn-danger">submit</button>
				</div>
			</div>
			<h5 style="text-align: center;font-size: 20px;font-family: sans-serif;color: #d96741;" >Opportunities for engagement:
			</h5>
			<div class="oppertunities heading">
				
				<ul>

				<li>Projects for the rescue and rehabilitation of street children and child labourers</li>
				<li>Projects for the skill training programmes for marginalized youth from rural areas and urban slums</li>
				<li>Projects for the promotion of child rights and publishing fliers and information materials on child rights</li>
				<li>Projects for Community Development – women empowerment, health, sanitation, solar lights, tribal development, organic farming, etc.</li>

				<li>Construction of schools, technical training centres, community halls, housing for the poor, etc.</li>
				<li>Sponsoring school and higher education of children from poor economic backgrounds</li>
				<li>Sponsoring books and stationery for children in the evening tuition centre</li>
				</ul>
				</div>
			</div>
	</div>