<style>
	.oppertunities {
    margin: auto;
    width: 45%;
    margin-bottom: 30px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.34);
    padding-bottom: 30px;
}
.oppertunities ul li {
    font-size: 17px;
    font-family: "Roboto",sans-serif;
    list-style-type: square;
    padding-top: 7px;
    padding-bottom: 7px;
}
.smboxtext{
	text-align: justify;
	font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
</style>
<img src="images/banner_children.png" alt="" width="100%">
<div class="container">
<div class="row">
	<div class="col-lg-12 heading">
		
        <h3 style="text-align: center;color: #D96741;font-size: 60px;">EDUCATION PROJECTS</h3>
			<br>
		
	</div>
	<div class="col-lg-6 col-md-6">
<p class="smboxtext">Building resilience in children at risk, enabling them in their vulnerable situations, is the main focus of BREADS development interventions with children. From our experience, we believe that children can overcome most negative conditions, provided that the child’s vulnerabilities are compensated by a protective environment. Through multipronged and rights based approaches, BREADS projects have tried to establish an enabling environment for vulnerable children; where they are encouraged to open up and enjoy opportunities for participation, growth and development.
</p>
<p class="smboxtext">
Breads implemented Projects for children which addressed both curative and preventive aspects. These projects are being</p>
</div>
<div class="col-lg-6 col-md-6">
<p class="smboxtext">Building resilience in children at risk, enabling them in their vulnerable situations, is the main focus of BREADS development interventions with children. From our experience, we believe that children can overcome most negative conditions, provided that the child’s vulnerabilities are compensated by a protective environment. Through multipronged and rights based approaches, BREADS projects have tried to establish an enabling environment for vulnerable children; where they are encouraged to open up and enjoy opportunities for participation, growth and development.
</p>
<p class="smboxtext">
Breads implemented Projects for children which addressed both curative and preventive aspects. These projects are being</p>
</div>
</div>
<hr>
<div class="col-lg-12">
<div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e5.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Primary Education...</a>
                            <p>
                                In order to provide primary Education for…</p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
<div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e2.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
 Prevention of…</a>
                            
                            <p>
                               51 child labourers were provided with residential… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e3.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
School dropout...</a>
                            
                            <p>
                                Supplementary education initiated in 15 rural villages… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e4.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Mobile computer...</a>
                            
                            <p>
                                Well equipped mobile computer lab set up… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
<div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e5.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
 Educate 100...</a>
                           
                            <p>
                                Through the project "Educate 100 Rescued Girl… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
<div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e2.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Prevention of...</a>
                            
                            <p>
                               Supplementary educations (Evening Tuition classes) are conducting… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e3.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Education and...</a>
                            
                            <p>
                               746 poor children from 15 villages of…</p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e4.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
For̥mal Education...</a>
                            
                            <p>
                                Providing residential care and formal education support…</p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
<div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e5.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Improve accessibility...</a>
                            
                            <p>
                                The main objective of this project is… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
<div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e2.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Sponsorship projects...</a>
                            <p>
                                1. Education support for girls through Global… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
        </div>

</div>