<style>
	.oppertunities {
    margin: auto;
    width: 45%;
    margin-bottom: 30px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.34);
    padding-bottom: 30px;
}
.oppertunities ul li {
    font-size: 17px;
    font-family: "Roboto",sans-serif;
    list-style-type: square;
    padding-top: 7px;
    padding-bottom: 7px;
}
.smboxtext{
	text-align: justify;
	font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
</style>
<img src="images/Web-banners-volunteer.jpg" alt="" width="100%">
<div class="container">
<div class="row">
	<div class="col-lg-12 heading">
		
        <h3 style="text-align: center;color: #D96741;font-size: 60px;">PROJECTS FOR YOUNG AT RISK</h3>
			<br>
		
	</div>
	<div class="col-lg-6 col-md-6">
<p class="smboxtext">Building resilience in children at risk, enabling them in their vulnerable situations, is the main focus of BREADS development interventions with children. From our experience, we believe that children can overcome most negative conditions, provided that the child’s vulnerabilities are compensated by a protective environment. Through multipronged and rights based approaches, BREADS projects have tried to establish an enabling environment for vulnerable children; where they are encouraged to open up and enjoy opportunities for participation, growth and development.
</p>
<p class="smboxtext">
Breads implemented Projects for children which addressed both curative and preventive aspects. These projects are being</p>
</div>
<div class="col-lg-6 col-md-6">
<p class="smboxtext">Building resilience in children at risk, enabling them in their vulnerable situations, is the main focus of BREADS development interventions with children. From our experience, we believe that children can overcome most negative conditions, provided that the child’s vulnerabilities are compensated by a protective environment. Through multipronged and rights based approaches, BREADS projects have tried to establish an enabling environment for vulnerable children; where they are encouraged to open up and enjoy opportunities for participation, growth and development.
</p>
<p class="smboxtext">
Breads implemented Projects for children which addressed both curative and preventive aspects. These projects are being</p>
</div>
</div>
<hr>
<div class="col-lg-12">
<div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e5.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Education off...</a>
                            <p>
                                The project had provided care and support…</p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
<div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e2.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Child Safety…</a>
                            
                            <p>
                                Child Safety Net project is creating an… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e3.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Rescue and...</a>
                            
                            <p>
                                The main objective of the Project is… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e4.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Rescue and...</a>
                            
                            <p>
                                The main aim of the project is… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
<div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e5.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Counseling and...</a>
                           
                            <p>
                                Project is providing counseling to the rescued… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
<div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e2.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Rehabilitation of...</a>
                            
                            <p>
                               36 Children were rescued from risk situation… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e3.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Foster care...</a>
                            
                            <p>
                               The Foster Care Programme provides alternative care…</p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e4.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Integrated Child...</a>
                            
                            <p>
                                Bosco Vatsalya Bhavan is a centre, where… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
<div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e5.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Rescue and...</a>
                            
                            <p>
                                Rescued and rehabilitated 36 child labourers through… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
<div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e2.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Child labour...</a>
                            <p>
                                50 girl child labourers were rescued and… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e3.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Rescue and...</a>
                           
                            <p>
                               Project aim to rehabilitate child labours through… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e4.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Rescue and…</a>
                            
                            <p>
                                The main objective of the Project is… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
            </div>
<div class="col-lg-12">
<div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e5.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Rescue and...</a>
                           
                            <p>
                                Every year 100-125 children are being rescued… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
<div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e2.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Child Labour…</a>
                            
                            <p>
                                The project main objective is to rescue…</p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e3.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Child Labour</a>
                           
                            <p>
                               The project aimed to provide an education… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e4.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Rescue and…</a>
                            
                            <p>
                               A well equipped child labour centre was… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
            </div>
</div>