<style>
	.oppertunities {
    margin: auto;
    width: 45%;
    margin-bottom: 30px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.34);
    padding-bottom: 30px;
}
.oppertunities ul li {
    font-size: 17px;
    font-family: "Roboto",sans-serif;
    list-style-type: square;
    padding-top: 7px;
    padding-bottom: 7px;
}
.smboxtext{
	text-align: justify;
	font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
</style>
<img src="images/Imperial-research-caption-banner-image--tojpeg_1434623039084_x1.jpg" alt="" width="100%">
<div class="container">
<div class="row">
	<div class="col-lg-12 heading">
		
        <h3 style="text-align: center;color: #D96741;font-size: 60px;">SKILL TRAINING</h3>
			<br>
		
	</div>
	<div class="col-lg-6 col-md-6">
<p class="smboxtext">Building resilience in children at risk, enabling them in their vulnerable situations, is the main focus of BREADS development interventions with children. From our experience, we believe that children can overcome most negative conditions, provided that the child’s vulnerabilities are compensated by a protective environment. Through multipronged and rights based approaches, BREADS projects have tried to establish an enabling environment for vulnerable children; where they are encouraged to open up and enjoy opportunities for participation, growth and development.
</p>
<p class="smboxtext">
Breads implemented Projects for children which addressed both curative and preventive aspects. These projects are being</p>
</div>
<div class="col-lg-6 col-md-6">
<p class="smboxtext">Building resilience in children at risk, enabling them in their vulnerable situations, is the main focus of BREADS development interventions with children. From our experience, we believe that children can overcome most negative conditions, provided that the child’s vulnerabilities are compensated by a protective environment. Through multipronged and rights based approaches, BREADS projects have tried to establish an enabling environment for vulnerable children; where they are encouraged to open up and enjoy opportunities for participation, growth and development.
</p>
<p class="smboxtext">
Breads implemented Projects for children which addressed both curative and preventive aspects. These projects are being</p>
</div>
</div>
<hr>
<div class="col-lg-12">
<div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e5.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
DBPA Hospet...</a>
                            <p>
                               The project “Don Bosco professional Academy (DBPA)…</p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
<div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e2.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
 DB BEST…</a>
                            
                            <p>
                              MASSS have constructed a well equipped skill…</p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e3.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Skill Training...</a>
                            
                            <p>
                                The project aimed to impart skill trainings…</p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 fff our-latest-box ng-scope" style="margin-top: 30px;">
                    <div class="latest-blog-img">
                        <div class="inner-grid">
                            <a href=""><img class="img-responsive" src="images/e5.jpg" width="800" height="500"></a>
                        </div>
                        <div class="latest-blog-inner">
                            <a class="latest-blog-title" style="" href="">
Masss Don...</a>
                            
                            <p>
                                MASSS DB Tech has been providing training… </p>
                            <a href="" style="color: black;">Read more...</a>
                        </div>
                    </div>
                </div>
                
        </div>

</div>