
	<div class="head" id="home">
		<div class="container">
			<div class="head-top">
				<div class="col-md-6 h-left">
					<p>+123 456 7897 , +132 567 8977</p>
				</div>
				<div class="col-md-6 h-right">
					<ul>
						<li><a href="#"><span class="fb"> </span></a></li>
						<li><a href="#"><span class="twit"> </span></a></li>
						<li><a href="#"><span class="pin"> </span></a></li>
						<li><a href="#"><span class="rss"> </span></a></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>	
		</div>
	</div>
