<style>
	.oppertunities {
    margin: auto;
    width: 45%;
    margin-bottom: 30px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.34);
    padding-bottom: 30px;
}
.oppertunities ul li {
    font-size: 17px;
    font-family: "Roboto",sans-serif;
    list-style-type: square;
    padding-top: 7px;
    padding-bottom: 7px;
}

</style>
<img src="images/Program_14253_ProfilePhoto__4e6e.jpg" alt="" width="100%">
<div class="container">
<div class="row">
	<div class="col-lg-12 heading">
		
        <h3 style="text-align: center;color: #D96741;font-size: 60px;">VOLUNTEERING</h3>
			<p style="text-align:center">MASSS offers a range of subjects that can interest Corporate Social Responsibility
			<br> circles, promising a sense of satisfaction and worthy of investment. MASSS will vouch<br> for credibility, transparency, professionalism and delivery.</p>
			<br>
			<h5 style="text-align: center;font-size: 20px;font-family: sans-serif;color: #d96741;">for volunteering in masss fill out the form below</h5>
		
	</div>
	</div>
	<div class="col-lg-8 col-lg-offset-3">
	<div class="col-lg-4 col-md-6 col-sm-12"> 
			<input type="text" name="first_name" value="" placeholder="First Name *" class="form-control" style="color: #000;" required="">
                  
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12"> 
			<input type="text" name="last_name" value="" placeholder="Last Name *" class="form-control" style="color: #000;" required="">
                 
    </div>
	</div>
	<div class="col-lg-8 col-lg-offset-3" style="margin-top: 10px">
    <div class="col-lg-4 col-md-6 col-sm-12"> 
			<input type="text" name="Email_ID" value="" placeholder=" Email ID *" class="form-control" style="color: #000;" required="">
                  
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12"> 
			<input type="text" name="Email_ID" value="" placeholder=" Phone / Mobile No. *" class="form-control" style="color: #000;" required="">
                  
    </div>
    <div class="col-lg-8" style="margin-top: 10px">
    	<textarea placeholder="A brief description about your educational background, skills and areas of interest." rows="10" cols="55" class="form-control" ></textarea>
	</div>
	<div class="col-lg-8 col-lg-offset-3" style="margin-top: 10px; margin-bottom: 10px">
    	<button class="btn btn-danger btn-lg">Submit</button>
	</div>
</div>
<br>